.container-fluid {
    min-height: 100vh;
}

.header {
    min-height: 100vh;
}

/* .carousel {
    width: 40%;
} */

.carousel .card img {
    height: 300px !important;
}

.carousel-control-prev .carousel-control-prev-icon, .carousel-control-next .carousel-control-next-icon {
    background-color: rgb(0, 145, 255) !important;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(0, 145, 255);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.carousel-control-prev .carousel-control-prev-icon::before {
    color: black;
}

/* @media screen and (max-width: 767.9px) {
    .carousel {
        width: 100%;
    }
} */

.carousel-indicators button {
    width: 20px !important;
    height: 20px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.carousel-indicators button.active {
    background-color: rgb(0, 145, 255);
}